states <- states(cb=T)
install.packages("tigris")
library(tigris)
library(dplyr)
library(leaflet)
states <- states(cb=T)
states %>%
leaflet() %>%
addTiles() %>%
addPolygons(popup=~NAME)
leaflet() %>%
addProviderTiles("CartoDB.Positron") %>%
setView(-98.483330, 38.712046, zoom = 4) %>%
addPolygons(data =  ,
fillColor = "red",
fillOpacity = 0.7,
weight = 0.2,
smoothFactor = 0.2,
popup = ~popup_sb) %>%
addLegend(pal = pal,
values = states_merged_sb$total,
position = "bottomright",
title = "Starbucks")
data_whipped<- c(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50)
leaflet() %>%
addProviderTiles("CartoDB.Positron") %>%
setView(-98.483330, 38.712046, zoom = 4) %>%
addPolygons(data = data_whipped ,
fillColor = "red",
fillOpacity = 0.7,
weight = 0.2,
smoothFactor = 0.2,
popup = ~popup_sb) %>%
addLegend(pal = pal,
values = data_whipped,
position = "bottomright",
title = "Starbucks")
leaflet() %>%
addProviderTiles("CartoDB.Positron") %>%
setView(-98.483330, 38.712046, zoom = 4) %>%
addPolygons(data = data_whipped ,
fillColor = "red",
fillOpacity = 0.7,
weight = 0.2,
smoothFactor = 0.2,
popup = ~popup_sb)
?addPolygons
states_merged_sb <- geo_join(states, sb_state, "STUSPS", "state")
print(states)
view(states)
summary(states)
?geo_join
read.csv("C:/Users/james/Documents/my_datasets/US_violent_crime")
read.csv("C:\\Users\\james\\Documents\\my_datasets\\US_violent_crime")
read.csv("C:\Users\james\Downloads\archive\US_violent_crime")
read.csv("C:/Users/james/Downloads/archive/US_violent_crime")
read.csv("C:/Users/james/Downloads/archive/.csv")
read.csv("C:/Users/james/Downloads/archive/US_violent_crime.csv")
states <- states(cb=T)
states
dir()
crime1<- > read.csv("C:/Users/james/Downloads/archive/US_violent_crime.csv")
crime1<- read.csv("C:/Users/james/Downloads/archive/US_violent_crime.csv")
crime1<- read.csv("C:/Users/james/Downloads/archive/US_violent_crime.csv")
crime1
str(states)
states_merged_sb <- geo_join(states, crime1, "STUSPS", "x")
typeof(crime1)
?list
str(crime1)
states_merged_sb <- geo_join(states, crime1, "STUSPS", "X")
states_merged_sb
pal <- colorNumeric("Greens", domain=states_merged_sb$total)
states_merged_sb$total
states_merged_sb <- subset(states_merged_sb, !is.na(total))
popup_sb <- paste0("Total: ", as.character(states_merged_sb$total))
> pal <- colorNumeric("Greens", domain=50)
pal <- colorNumeric("Greens", domain=50)
pal
states_merged_sb <- subset(states_merged_sb, !is.na(50))
popup_sb <- paste0("Total: ", as.character(states_merged_sb$total))
pal <- colorNumeric("Greens", domain=states_merged_sb$Murder)
pal <- colorNumeric("Greens")
?colorNumeric
pal <- colorNumeric("Greens", domain=states_merged_sb$Assault)
?addPolygons
leaflet() %>%
addProviderTiles(providers$CartoDB.Positron) %>%
setView(-98.483330, 38.712046, zoom = 4) %>%
addPolygons(data = crime1$Murder , fillOpacity = 0.9,
weight = 0.2,
smoothFactor = 0.2)
leaflet() %>%
addProviderTiles(providers$CartoDB.Positron) %>%
setView(-98.483330, 38.712046, zoom = 4) %>%
addPolygons(data = data_whipped , fillOpacity = 0.9,
weight = 0.2,
smoothFactor = 0.2)
leaflet() %>%
addProviderTiles(providers$CartoDB.Positron) %>%
setView(-98.483330, 38.712046, zoom = 4) %>%
addPolygons(data = states_merged_sb , fillOpacity = 0.9,
weight = 0.2,
smoothFactor = 0.2)
states %>%
leaflet() %>%
addTiles() %>%
addPolygons(popup=states$NAME)
m <- leaflet(states) %>%
setView(-96, 37.8, 4) %>%
addProviderTiles("MapBox", options = providerTileOptions(
id = "mapbox.light",
accessToken = Sys.getenv('MAPBOX_ACCESS_TOKEN')))
m
leaflet() %>%
setView(-96, 37.8, 4) %>%
addProviderTiles("MapBox", options = providerTileOptions(
id = "mapbox.light",
accessToken = Sys.getenv('MAPBOX_ACCESS_TOKEN')))
leaflet() %>%
setView(-96, 37.8, 4) %>%
addProviderTiles(providers$CartoDB.Positron)
m<-leaflet() %>%
setView(-96, 37.8, 4) %>%
addProviderTiles(providers$CartoDB.Positron)
m %>% addPolygons()
m<-leaflet(states) %>%
setView(-96, 37.8, 4) %>%
addProviderTiles(providers$CartoDB.Positron)
m %>% addPolygons()
states
bins <- c(0, 10, 20, 50, 100, 200, 500, 1000, Inf)
pal <- colorBin("YlOrRd", domain = states$GEOID, bins = bins)
m %>% addPolygons(
fillColor = ~pal(GEOID),
weight = 2,
opacity = 1,
color = "white",
dashArray = "3",
fillOpacity = 0.7)
bins <- c(0, 10, 20, 50, 100, 200, 500, 1000, Inf)
pal <- colorBin("YlOrRd", domain = states$GEOID, bins = bins)
m %>% addPolygons()
states <- geojsonio::geojson_read("json/us-states.geojson", what = "sp")
install.packages("geojsonio")
states <- geojsonio::geojson_read("json/us-states.geojson", what = "sp")
states
summary(states)
crime1
states_crime <-cbind(states,crime1$Assault)
shooting_df<- read.csv("C:/Users/james/Documents/my_datasets/mass_shooting_events_stanford_msa_release_06142016_plus2017")
shooting_df<- read.csv("C:/Users/james/Documents/my_datasets/mass_shooting_events_stanford_msa_release_06142016_plus2017.csv")
shooting_df
str(shooting_df)
savehistory("~/R/my_R_history_filess/first_R_history_save.Rhistory")
install.packages("far")
str(shooting_df)
library(leaflet)
?addCircleMarkers
m
leaflet() %>%
addtiles()
m <- leaflet()
m <- leaflet() %<%
addTiles()
m <- leaflet() %<%
m <- leaflet() %<%
m <- leaflet() %>%
addTiles()
m1<- leaflet()
m3 <- leaflet() %>%
addProviderTiles("CartoDB")
m3 <- leaflet() %>%
addProviderTiles("CartoDB")
m3
ad
sdf%
asdfs%<%
sadfs%>%
sdf
?addCircleMarkers
library(map)
install.packages("map")
library()
getMapData(map)
?getMapData
m3
m3 <- m3 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = 2, label = shooting_df$Title)
m3
getMapData(map)
m3 <- m3 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = 2, label = shooting_df$Title , clusterOptions = markerClusterOptions())
m3
?markerClusterOptions
m3 <- m3 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = 2, label = shooting_df$Title , clusterOptions = markerClusterOptions(FALSE))
m3
m3 <- m3 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = 2, label = shooting_df$Title , clusterOptions = markerClusterOptions())
m3
m3 <- m3 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title )
m3
m3 <- m3 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title )
m3
m3 <- m3 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title, clusterOptions = FALSE )
m3
m3 <- m3 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title, clusterOptions = NULL )
m3
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title)
m4 <- leaflet() %>%
addProviderTiles("CartoDB")
m4 <- leaflet() %>%
addProviderTiles("CartoDB")
m4 <- leaflet() %>%
addProviderTiles("CartoDB")
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title)
m4
log <- log10(shooting_df$Number.of.Victim.Fatalities)
log
log <- log2(shooting_df$Number.of.Victim.Fatalities)
plot(shooting_df$Number.of.Victim.Fatalities)
plot(log)
plot(shooting_df$Number.of.Victim.Fatalities)
plot(log)
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = log+1, label = shooting_df$Title)
m4
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title)
m4
?replace
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 4)
m4
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 1)
m4
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 5)
m4
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 4.5)
m4
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 4.2)
m4
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 4.3)
m4
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 4.35)
m4
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 4.4)
m4
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 4.6)
m4
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 4.5)
m4
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 4.4)
m4
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 4.45)
m4
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 4.47)
m4
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 4.49)
m4
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 4.5)
m4
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 4.4)
m4
m4 <- m4 %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title)
m4
m5 <- leaflet() %>% addProviderTiles("CartoDB") %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 4.5)
m5
m5 <- leaflet() %>% addProviderTiles("CartoDB") %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 4.4)
m5
addProviderTiles("MapBox", options = providerTileOptions(
leaflet() %>%
addProviderTiles("CartoDB.Positron") %>%
setView(-98.483330, 38.712046, zoom = 4) %>%
addPolygons(data = data_whipped ,
fillColor = "red",
fillOpacity = 0.7,
weight = 0.2,
smoothFactor = 0.2,
popup = ~popup_sb)
asdf
leaflet() %>%
addProviderTiles("CartoDB.Positron") %>%
setView(-98.483330, 38.712046, zoom = 4) %>%
addPolygons(data = data_whipped ,
fillColor = "red",
fillOpacity = 0.7,
weight = 0.2,
smoothFactor = 0.2,
popup = ~popup_sb)
library(tigris)
library(dplyr)
library(leaflet)
# Downloading the shapefiles for states at the lowest resolution
states <- states(cb=T)
states %>%
leaflet() %>%
addTiles() %>%
addPolygons(popup=~NAME)
leaflet() %>%
addTiles() %>%
addPolygons(states$NAME)
leaflet() %>%
addTiles() %>%
addPolygons(popup=states$NAME)
#https://learn.r-journalism.com/en/mapping/census_maps/census-maps/ need to merge state polygons with state data, but it works! state polygons on map
states %>%
leaflet() %>%
addTiles() %>%
addPolygons(popup=~NAME)
?map
mapStates = map("state", fill = TRUE, plot = FALSE)
leaflet(data = mapStates) %>% addTiles() %>%
addPolygons(fillColor = topo.colors(10, alpha = NULL), stroke = FALSE)
#https://rstudio.github.io/leaflet/map_widget.html
#this is from leaflet tutorial on github, state shapes
leaflet(data = shooting_df$State) %>% addTiles() %>%
addPolygons(fillColor = topo.colors(10, alpha = NULL), stroke = FALSE)
leaflet(data = shooting_df$Title) %>% addTiles() %>%
addPolygons(fillColor = topo.colors(10, alpha = NULL), stroke = FALSE)
leaflet(data = shooting_df$CaseID) %>% addTiles() %>%
addPolygons(fillColor = topo.colors(10, alpha = NULL), stroke = FALSE)
leaflet(data = shooting_df$Latitude) %>% addTiles() %>%
addPolygons(fillColor = topo.colors(10, alpha = NULL), stroke = FALSE)
m5
#[df$date > 5 & df$date < 15 ,]
m5 <- leaflet() %>% addProviderTiles("CartoDB") %>% addCircleMarkers(lng = shooting_df$Longitude , lat = shooting_df$Latitude, radius = shooting_df$Number.of.Victim.Fatalities, label = shooting_df$Title) %>% setView(lat = 39.8282, lng = -98.5795, zoom = 4.4)
#above is the last working map of shooting_df
savehistory("~/R/my_R_history_filess/second history save jan 27.Rhistory")
shooting_df
read.csv("C:/Users/james/Documents/my_datasets/public-school-per-pupil-expenditures.csv")
expenditure_df <- read.csv("C:/Users/james/Documents/my_datasets/public-school-per-pupil-expenditures.csv")
str(expenditure_df)
?subset
expenditures_2017 <- subset(expenditure_df , subset = 6:56)
expenditures_2017 <- subset(expenditure_df , select = 2017)
expenditures_2017 <- subset(expenditure_df , select = )
expenditure_df_xlsx <- read.table(file = "C:/Users/james/Documents/my_datasets/public-school-per-pupil-expenditures.xlsx", sep = "\t", header=TRUE)
str(expenditure_df_xlsx)
expenditure_df_xlsx
dir()
expenditure_1993 <- expenditure_df[3:57,55]
expenditure_1993
expenditure_1993 <- expenditure_df[3:57,56]
expenditure_1993
expenditure_1994 <- expenditure_df[3:57,57]
expenditure_1995 <- expenditure_df[3:57,58]
expenditure_1996 <- expenditure_df[3:57,59]
expenditure_1997 <- expenditure_df[3:57,60]
expenditure_1998 <- expenditure_df[3:57,61]
expenditure_1999 <- expenditure_df[3:57,62]
expenditure_2000 <- expenditure_df[3:57,63]
expenditure_2001 <- expenditure_df[3:57,64]
expenditure_2002 <- expenditure_df[3:57,65]
expenditure_2003 <- expenditure_df[3:57,66]
expenditure_2004 <- expenditure_df[3:57,67]
expenditure_2005 <- expenditure_df[3:57,68]
expenditure_2006 <- expenditure_df[3:57,69]
expenditure_2007 <- expenditure_df[3:57,70]
expenditure_2008 <- expenditure_df[3:57,71]
expenditure_2009 <- expenditure_df[3:57,72]
expenditure_2010 <- expenditure_df[3:57,73]
expenditure_2011 <- expenditure_df[3:57,74]
expenditure_2012 <- expenditure_df[3:57,75]
expenditure_2013 <- expenditure_df[3:57,76]
expenditure_2014 <- expenditure_df[3:57,77]
expenditure_2015 <- expenditure_df[3:57,78]
expenditure_2016 <- expenditure_df[3:57,79]
expenditure_2017 <- expenditure_df[3:57,80]
savehistory("~/R/my_R_history_filess/history_Jan_27_first.Rhistory")
expenditure_2017
str(states)
summary(states)
bins <- c(0, 10, 20, 50, 100, 200, 500, 1000, Inf)
pal <- colorBin("YlOrRd", domain = states$density, bins = bins)
labels <- sprintf(
"<strong>%s</strong><br/>%g people / mi<sup>2</sup>",
states$name, states$density
) %>% lapply(htmltools::HTML)
leaflet(states) %>%
setView(-96, 37.8, 4) %>%
addProviderTiles("MapBox", options = providerTileOptions(
id = "mapbox.light",
accessToken = Sys.getenv('MAPBOX_ACCESS_TOKEN'))) %>%
addPolygons(
fillColor = ~pal(density),
weight = 2,
opacity = 1,
color = "white",
dashArray = "3",
fillOpacity = 0.7,
highlightOptions = highlightOptions(
weight = 5,
color = "#666",
dashArray = "",
fillOpacity = 0.7,
bringToFront = TRUE),
label = labels,
labelOptions = labelOptions(
style = list("font-weight" = "normal", padding = "3px 8px"),
textsize = "15px",
direction = "auto")) %>%
addLegend(pal = pal, values = ~density, opacity = 0.7, title = NULL,
position = "bottomright")
library(leaflet)
library(dplyr)
bins <- c(0, 10, 20, 50, 100, 200, 500, 1000, Inf)
pal <- colorBin("YlOrRd", domain = states$density, bins = bins)
labels <- sprintf(
"<strong>%s</strong><br/>%g people / mi<sup>2</sup>",
states$name, states$density
) %>% lapply(htmltools::HTML)
leaflet(states) %>%
setView(-96, 37.8, 4) %>%
addProviderTiles("MapBox", options = providerTileOptions(
id = "mapbox.light",
accessToken = Sys.getenv('MAPBOX_ACCESS_TOKEN'))) %>%
addPolygons(
fillColor = ~pal(density),
weight = 2,
opacity = 1,
color = "white",
dashArray = "3",
fillOpacity = 0.7,
highlightOptions = highlightOptions(
weight = 5,
color = "#666",
dashArray = "",
fillOpacity = 0.7,
bringToFront = TRUE),
label = labels,
labelOptions = labelOptions(
style = list("font-weight" = "normal", padding = "3px 8px"),
textsize = "15px",
direction = "auto")) %>%
addLegend(pal = pal, values = ~density, opacity = 0.7, title = NULL,
position = "bottomright")
# If you don't have the following packages installed yet, uncomment and run the lines below
#install.packages("tigris")
#install.packages("dplyr")
#install.packages("leaflet")
library(tigris)
library(dplyr)
library(leaflet)
# Downloading the shapefiles for states at the lowest resolution
states <- states(cb=T)
summary(states)
summary(expenditures_2017)
expenditure_1993
states
?type
type(expenditure_2017)
class(expenditure_1993)
class(expenditure_df)
states$NAME
expenditure_df
st<- geo_join(states,expenditure_df)
st<- geo_join(states, expenditure_df,"STUSPS", col = 2)
colnames(expenditure_df)
expenditure_df[,"x.76"]
expenditure_df[,"X.76"]
savehistory("~/R/my_R_history_filess/history_Jan_27_second.Rhistory")
st<- geo_join(states, expenditure_df,"STUSPS", "X.78")
pal <- colorNumeric("Greens", domain=st$X.78)
popup_sb <- paste0("Total: ", as.character(st$X.79))
leaflet() %>%
addProviderTiles("CartoDB.Positron") %>%
setView(-98.483330, 38.712046, zoom = 4) %>%
addPolygons(data = st ,
fillColor = ~pal(st$X.79),
fillOpacity = 0.7,
weight = 0.2,
smoothFactor = 0.2,
popup = ~popup_sb)
st<- geo_join(states, expenditure_df,"STUSPS", "Table.S.11")
savehistory("~/R/my_R_history_filess/a.Rhistory")
pal <- colorNumeric("Greens", domain=st$X.78)
st$X.785:58[]
st$X.78[5:58]
st$X.75
st$X.75
st$X.55
st$X.78[5:58]
class(st)
class(states)
savehistory("~/R/my_R_history_filess/b.Rhistory")
expenditure_col <- c("State","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018")
expenditure_df_reorder <- read.csv("C:/Users/james/Documents/my_datasets/expenditures_reorder.csv")
colnames(expenditure_df_reorder)
rownames(expenditure_df_reorder)
savehistory("~/R/my_R_history_filess/c.Rhistory")
rownames(states)
colnames(expenditure_df_reorder)<- expenditure_col
colnames(expenditure_df_reorder)
expenditure_df_reorder1 <- read.csv("C:/Users/james/Documents/my_datasets/expenditures_reorder1.csv")
colnames(expenditure_df_reorder1)
colnames(expenditure_df_reorder1)<-expenditure_col
colnames(expenditure_df_reorder1)
?cbind
state_w_expenditures <- cbind(states,expenditure_df_reorder1)
state_w_expenditures <- cbind(states,expenditure_df_reorder)
state_w_expenditures
summary(states_w_expenditures)
summary(state_w_expenditures)
state_w_expenditures[1,]
savehistory("~/R/my_R_history_filess/d.Rhistory")
pal <- colorNumeric("Greens", domain=state_w_expenditures$X2017)
popup_sb <- paste0("Total: ", as.character(state_w_expenditures$X2017))
leaflet() %>%
addProviderTiles("CartoDB.Positron") %>%
setView(-98.483330, 38.712046, zoom = 4) %>%
addPolygons(data = state_w_expenditures ,
fillColor = "Greens",
fillOpacity = 0.7,
weight = 0.2,
smoothFactor = 0.2,
popup = ~popup_sb)
savehistory("~/R/my_R_history_filess/e.Rhistory")
